.Perfil {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
}

.Perfil__img {
    height: 180px;
    width: 174.375px;
    left: 97px;
    top: 83px;
    flex-shrink: 0;
    border-radius:50%;
    object-fit: cover;
    text-align: center;
    justify-content: center;
}

.Perfil__title {
    text-align: center;
    font-size: 400;
    padding-top: 15px;
}
.Perfil__text {
    text-align: center;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.Perfil_bottom {
    height: 47px;
    width: 208px;
    left: 83px;
    top: 561px;
    border-radius: 2px;
    padding-top: 15px;
}