.Perfil {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
}

.Perfil__img {
    height: 180px;
    width: 174.375px;
    left: 97px;
    top: 83px;
    flex-shrink: 0;
    border-radius:50%;
    object-fit: cover;
    text-align: center;
    justify-content: center;
}

.Perfil__title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 600;
    padding-top: 15px;
    margin: 0 auto;
}
.Perfil__text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.Perfil_bottom {
    height: 47px;
    width: 208px;
    left: 83px;
    top: 561px;
    border-radius: 2px;
    padding-top: 15px;
}